{% extends 'base.html' %}

{% block content %}


    <div>
        <h2>Welcome to your profile, {{user.username}}</h2>
    </div>

    <h2>My Posts</h2>

    <ul>
    {% for story in user_stories.all %}
        <li><a href="{% url 'news:story' story.id %}">{{ story.title }}</a></li>     
    {% endfor %}
    </ul>


    {% if request.user == user %}
    <button id="edit-profile-button">
        <a href="{% url 'users:editProfile' %}">Edit Profile</a></button>
    {% else %}
    {% endif %}
    {% if request.user == user %}
    <div>
    <button id="new-story-button">
        <a href="{% url 'news:newStory' %}">Write New Story</a></button>
    </div>
    {% else %}
    {% endif %}    



{% endblock %}