{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

    <div id="story-wrapper">
        <h2>{{ story.title }}</h2>
        <h4>Author: {{ story.author }}</h4>
        <h4>Category: {{ story.newsCategory }}</h4>
        <div id="story-content">
            <img src="{{ story.image }}">
            {{ story.content|linebreaks }}
        </div>
    </div>




<div class="story-buttons">
        {% if request.user.id == story.author.id %}
            <a id="edit-delete-buttons" href="{% url 'news:editStory' story.pk %}">Edit Story</a> <br/>
            <a id="edit-delete-buttons" href="{% url 'news:deleteStory' story.pk %}">Delete</a> <br/>
        {% else %}
        {% endif %}
</div>

{% endblock %}
